@import '../../index.scss';
.input-container>input {
    box-sizing: border-box;
    padding: 8px;
    border-radius: $border-radius;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline-color: $secondary-color;
}